extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Коллекция';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.list.inner
        ul.list__box-name Шелк
            p.list__title Бамбук

            li.list__name
                a(href='#') Брюки
            li.list__name
                a(href='#') Велосипедки
            li.list__name
                a(href='#') Кроп-топ
            li.list__name
                a(href='#') Лиф с захлестом
                
            li.list__name
                a(href='#') Лиф с треугольным вырезом
            li.list__name Лонгслив
            li.list__name Майка
            li.list__name Трусики бразильяно
            li.list__name Трусики слипы
            li.list__name Трусики слипы на высокой посадке
            li.list__name Шорты
