extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Коллекция';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    p.title коллекция
    p.title.title__name Бамбук
    section.list-product.inner
        ul.list-product__fabric Шелк
            p.list-product__fiber Бамбук
            li
                a.list-product__name-product(href='#') Брюки
            li
                a.list-product__name-product(href='#') Велосипедки
            li
                a.list-product__name-product(href='#') Кроп-топ
            li
                a.list-product__name-product(href='#') Лиф с захлестом
            li
                a.list-product__name-product(href='#') Лиф с треугольным <br> вырезом
            li
                a.list-product__name-product(href='#') Лонгслив
            li
                a.list-product__name-product(href='#') Майка
            li
                a.list-product__name-product(href='#') Трусики бразильяно
            li
                a.list-product__name-product(href='#') Трусики слипы
            li
                a.list-product__name-product(href='#') Трусики слипы <br> на высокой посадке
            li
                a.list-product__name-product(href='#') Шорты

