body {
    background: #333333;
}
a, a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.title{
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 100px;
}

    /*------ fixed--------*/
.left-items{
    width: 150px;
    height: 1045px;
    background: rgba(51, 51, 51, 0.75);
    z-index:1;
    display: flex;
    flex-direction: column;
}
.left-items__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 575px;
    margin-top: 125px;
}

.left-items__text{
    color: #C4C4C4;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 25px;
    transform: rotate(-90deg);
    white-space: nowrap;
    align-items: center;
}
.left-items__line{
    width: 80px;
    border: 3px solid #C4C4C4;
    transform: rotate(90deg);
}
.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inst{
    background-image: url("theatre-pict/instagram.svg");
    width: 26px;
    height: 26px;
}
.facebook{
    background-image: url("theatre-pict/facebook.svg");
    width: 15px;
    height: 26px;
}
.vk{
    background-image: url("theatre-pict/vk.svg");
    width: 26px;
    height: 14px;
}
.youtube{
    background-image: url("theatre-pict/youtube.svg");
    width: 26px;
    height: 18px;
}
.social-media>.social-media__link{
    margin-bottom: 30px;
}

    /*------навигация в хедере------*/

.header{
    width: 100%;
    background-image: url("theatre-pict/p1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.font-style-OSC-bold{
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}
.navigation{
    padding-top: 51px;
    max-width: 1110px;
    text-align: right;
}
.nav{
    max-width: 824px;
}
.navigation__link{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
}
.navigation__phone{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #D1A954;
}

    /*-------контент хедера--------*/

.header-content{
    max-width: 1035px;
}
.pad{
    margin-top: 90px;
}

.header-content__title{
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
}
.header-content__description{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}
.header-content__button{
    width: 160px;
    height: 50px;
    background: #D1A954;
    border: none;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
}

        /*--контент хедера--постер--*/
.header-content__poster{
    margin-top: 100px;
}
.poster{
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 440px;
}

.arrow__text{
    margin-top: 1rem;
    margin-left: 1rem;
}
.arrow__text--margin{
    margin-right: 1rem;
    margin-left: 0;
}
.arrow{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    font-family: "Open Sans Condensed", sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.1em;
}

/*----------о театре--------------*/
.about{
    margin: 0 auto;
   padding-top: 150px;
}
.about__text-title{
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 40px;
}
.about__text-description{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.about__text-description-vol-two{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    padding-top: 15px;
}
.color-y{
    color: #D1A954;
}
/*--------------наши постановки---------------*/

.staging{
    padding-top: 150px;
}
.staging__pict{
    background-size: contain;
    background-repeat: no-repeat;
    width: 443px;
    height: 550px;
}
.staging__pict--active{
    background-image: url(" theatre-pict/staging-two.png");
}
.staging__box{
    min-width: 1770px;
}
