
        /*lg*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .bdsm{
        width: 690px;
    }
    .about__text-title{
        white-space: nowrap;
    }
    .staging-content-vol-two__box{
        max-width: 690px;
    }
    .staging-content-vol-two__text{
        font-size: 34px;
    }
    .form__box--size{
        width: 270px;
    }
    .form__button{
        margin-left: 82px;
    }
   .footer__address{
        padding-right: 30px;
    }
}

        /*md*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .about__text-title{
        white-space: nowrap;
    }
    .staging-content-vol-two__text{
        font-size: 29px;
    }
    .form__box--size{
        margin-right: 5px;
    }
    
}





/*
staging-content-vol-two__right выставить padding
*/

/*
staging-content-vol-two__text размер шрифта
*/
/*
footer__contacts text-lg-right -- на sm -nowrap
*/

/*
form__box--size увеличить для sm
*/


/*
overflow-hidden
*/