a, a:hover{
    text-decoration: none;
    color: #FFFFFF;
}


    /*------------*/

.header{
    width: 100%;
    height: 1045px;
    background-image: url("theatre-pict/Rectangle 3 (1).png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    font-family: "Open Sans Condensed", sans-serif;
}
.navigation-menu{
    font-weight: bold;
    margin-top: 51px;
    max-width: 1110px;
}
.nav{
    max-width: 824px;
}
.navigation-menu__link{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.navigation-menu__phone{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #D1A954;
}
.col--align{
    text-align: center;
}

        /*---*/

.ggg{
    margin-top: 140px;
}

.header__title{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-block-end: 0;
}
.header__description{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    margin: 2rem 0;
}
.header__button{
    width: 160px;
    height: 50px;
    background: #D1A954;
    border: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.col-7--padding-left{
    padding-left: 0;
    /*margin-top: 30%;
    */
}
.poster{
    max-width: 370px;
    max-height: 510px;
    /*margin-top: 50%;
    */
}
        /*---*/
.history{
    background-color: #333333;
}

.history__title{
    text-align: center;
}

