@media all and (max-width: 1025px){
    .header__logo-description{
        display: none;
    }
    .header__logo{
        margin-right: 20px;
    }
    .header-menu__link--margin-left-right{
        margin: 0 30px;
    }
}