@font-face {
    font-family: "Circe", sans-serif;
    src: url("/canteen/fonts/Circe-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

body{
    margin: 0;
}
.grid{
    width: 1218px;
    margin: 0 auto;
}
.grid--height{
    height: 80px;
    background-color: #918BA0;
}
.header__content{
    display: flex;
    height: inherit;
    flex-direction: row;
    align-items: center;
}
.header__logo{
    background-image: url("img canteen/Shefs_club_logo.png");
    width: 95px;
    height: 70px;
}
.header__name-brand{
    font-family: "Circe", sans-serif;
}