@font-face {
    font-family: "Circe", sans-serif;
    src: url("fonts/Circe-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "TTNorms", sans-serif;
    src: url("fonts/TTNorms-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
body{
    margin: 0;
}
.grid{
    width: 1218px;
    margin: 0 auto;
}
.styles-for-text-circe{
    font-family: "Circe", sans-serif;
    font-size: 18px;
    line-height: 133%;
    color: #F0F1EE;
}

.styles-for-text-tt-norms{
    font-family: "TTNorms", sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 57px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

@media all and (max-width: 600px){}


/*-------------!-------------*/
.grid--height{
    height: 80px;
}
.header__content{
    display: flex;
    height: inherit;
    flex-direction: row;
    align-items: center;
    font-family: "Circe", sans-serif;
}
.header__logo{
    background-image: url("img canteen/logo.svg");
    width: 95px;
    height: 70px;
    margin: 0 10px 0 24px;
}
.header__logo-description{
    font-size: 14px;
    line-height: 143%;
    color: #333333;
    margin-right: 154px ;
}
.header-menu__link{
    text-decoration: none;
    font-size: 16px;
    line-height: 137%;
    color: #464243;
}
.header-menu__link:hover{
    color: #37A04C;
}
.header-menu__link--margin-left-right{
    margin: 0 60px;
}
.phone-number{
    font-weight: bold;
    font-size: 18px;
    line-height: 133%;
    color: #333333;
}
.phone-number:hover{
    color: #37A04C;
    cursor: pointer;
}
.phone-number--margin-left-right{
    margin: 0 55px 0 112px;
}
.header__login{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.header__login:hover{
    font-size: 18px;
    color: #37A04C;
}
.header__login:before{
    content: url("img canteen/login.svg");
    margin-right: 11px;
}
.header__line{
    margin-block-start: 0;
    background-color: #E8EAE7;
    height: 1px;
    border: none;
    margin-bottom: 30px;
}

/*-------------!!-------------*/
.grid--position{
    position: relative;
}
.properties-arrow{
    background-size: contain;
    width: 48px;
    height: 48px;
    position: absolute;
}
.arrow-left{
    background-image: url("img canteen/arrow-left.svg");
}
.arrow-left:hover{
    width: 53px;
    height: 53px;
}
.arrow-left--margin-top{
    top: 226px;
}
.arrow-right{
    background-image: url("img canteen/arrow-right.svg");
}
.arrow-right:hover{
    width: 53px;
    height: 53px;
}
.arrow-right--margin-top-right{
    top: 226px;
    right: 0;
}
.banner__background{
    background-image: url("img canteen/fon.png");
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    display: flex;
}
.banner__content{
    margin: 40px 0 40px 70px;
    display: flex;
    flex-direction: column;
}
.banner__button-stock{
    width: 74px;
    height: 30px;
    background: #FF794F;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.banner__button-stock:hover{
    background: #FFFFFF;
    color: #FF794F;
}
.button-text{
    font-family: "Circe", sans-serif;
    font-size: 14px;
    line-height: 143%;
    color: #FFFFFF;
}
.banner__button-stock--margin{
    margin-bottom: 30px;
}
.banner__title{
    margin-bottom: 20px;
}
.banner__description{
    margin-bottom: 30px;
}
.button{
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 134px;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.button:hover{
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    color: #FFFFFF;
}
.button--hover:hover{
    background: #FFFFFF;
    color: #37A04C;
}
.button-text--style{
    line-height: 133%;
    font-weight: bold;
    font-size: 18px;
}
.button-text--color-grey{
    color: #333333;
}
.button--margin-right-bottom{
    margin: 0 20px 40px 0;
}
.button-text--color-white{
    color: #FFFFFF;
}
.button--background{
    background: linear-gradient(180deg, #A3B25A 0%, #9DAB53 53.86%, #9DAB53 100%);
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.carousel{
    display: flex;
    flex-direction: row;
    cursor: pointer;

}
.carousel__circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: center;
}
.carousel__circle--active{
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
}
.carousel__circle--margin-left{
    margin-left: 20px;
}

/*-------------!!!-------------*/
.styles-for-text-tt-norms--color-margin-align{
    color: #333333;
    margin-block-start: 0;
    margin-block-end: 0;
    margin:80px 0 45px 0;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box__pict{
    display: flex;
    margin: 0 auto;
}
.box__title{
    text-align: center;
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 133%;
    margin: 20px 0 10px 0;
    color: #131315;
}
.box__description{
    text-align: center;
    font-family: "Circe", sans-serif;
    font-size: 16px;
    line-height: 137%;
    color: #6D7077;
}

/*-------------!! !!-------------*/
.menu{
    margin: 129px 0 84px 0;
}
.arrow-left--position-block-menu{
    left: 24px;
}
.arrow-right--position-block-menu{
    right: 24px;
}
.styles-for-text-tt-norms--position-color{
    color: #333333;
    text-align: center;
    position: relative;
}
.styles-for-text-circe--position-color{
    color: #6D7077;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 20px 0 30px 0;
}
.menu__navigation{
    text-align: center;
}
.button--size-style{
    width: 174px;
    height: 50px;
    border-radius: 74px;
    border: 1px solid #CECFCD;
    box-shadow: none;
}
.button-text--size-color{
    font-size: 18px;
    font-weight: bold;
    line-height: 133%;
    text-align: center;
    color: #A1A75C;
}
.button--color-active{
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;;
    color: #FFFFFF;
}
.button--margin-left{
    margin-left: 20px;
}
.menu__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}
.menu__cards--position{
    position: relative;
}
.arrow-cards-left{
    background-image: url("img canteen/arrow-cards-left.svg");
}
.arrow-cards-left:hover{
    width: 53px;
    height: 53px;
}
.arrow-cards-left--position{
    top: 224px;
    left: 3px;
}
.arrow-cards-right{
    background-image: url("img canteen/arrow-right-cards.svg");
}
.arrow-cards-right--position{
    top: 224px;
    right: 3px;
}
.arrow-cards-right:hover{
    width: 53px;
    height: 53px;
}
.card-dish{
    width: 370px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}
.pict-property{
    background-repeat: no-repeat;
    width: 370px;
    height: 220px;
}
.card-dish__pict-one{
    background-image: url("img canteen/cards-one-a.png");
}
.card-dish__pict-two{
    background-image: url("img canteen/cards-two.png");
}
.card-dish__pict-three{
    background-image: url("img canteen/cards-three.png");
}
.card-dish__figures-button{
    width: 57px;
    height: 30px;
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    border: none;
}
.button-text--size-line-height-margin{
    font-size: 16px;
    font-weight: bold;
    line-height: 137%;
    margin: 10px 10px 0 303px;
}
.card-dish__figures-button:hover{
    background: #FFFFFF;
    color: #A1A75C;
}
.hashtags{
    display: flex;
    flex-direction: row;
    margin: 15px 0 15px 20px;
}
.hashtags__tags{
    width: 97px;
    height: 24px;
    background: #F0F1EE;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    font-family: "Circe", sans-serif;
    font-size: 12px;
    line-height: 150%;
    color: #6D7077;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hashtags__tags--width-margin{
    width: 75px;
    margin: 0 10px;
}
.hashtags__tags--width-vol-two{
    width: 59px;
}
.hashtags__tags--margin-left{
    margin-left: 44px;
}
.card-dish__title{
    margin: 0 20px 15px;
}
.styles-for-text-circe--color-weight{
    font-weight: bold;
    color: #333333;
}
.card-dish__description-up-block{
    display: flex;
    flex-direction: row;
    margin: 0 30px 15px 20px;
    font-family: "Circe", sans-serif;
    font-size: 14px;
    line-height: 143%;
    color: #646365;
}
.description-text-in-cards__text-one{
    margin-right: 32px;
    width: 139px;
    height: 20px;
    display: flex;
}
.description-text-in-cards__text-one:before{
    content: url("img canteen/cards-elements.svg");
    width: 16px;
    height: 16px;
    margin-right: 10px;
    align-items: center;
}
.description-text-in-cards__text-one:after{
    content: url("img canteen/cards-elements-two.svg");
    width: 16px;
    height: 16px;
    align-self: center;
}
.description-text-in-cards__text-two--bold{
    font-weight: bold;
    color: #333333;
}
.card-dish__line{
    width: 330px;
    height: 1px;
    background-color: #DDDEDB;
    border-radius: 8px;
    border: none;
    margin-block-start: 0;
    margin-block-end: 0;
}
.card-dish__description-down-block{
    display: flex;
    margin-left:20px;
}
.text-item{
    display: flex;
    margin-top: 31px;
}
.card-dish__description-down-block{
    font-family: "Circe", sans-serif;
    font-size: 16px;
    line-height: 137%;
    color: #646365;
}
.description-text-in-cards__text-three{
    display: flex;
    margin-right: 20px;
}
.description-text-in-cards__text-three:before{
    content: url("img canteen/cards-el-three.svg");
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.description-text-in-cards__text-four{
    display: flex;
}
.description-text-in-cards__text-four:before{
    content: url("img canteen/cards-el-four.svg");
    width: 24px;
    height: 24px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.card-dish__button{
    width: 140px;
    height: 44px;
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    border-radius: 26px;
    border: none;
    font-family: "Circe", sans-serif;
    font-size: 18px;
    line-height: 133%;
    color: #FFFFFF;
    padding-left: 20px;
    align-self: center;
    margin-left: 27px;
    margin-top: 20px;
}
.card-dish__button--pic{
    display: flex;
    flex-direction: row;
}
.card-dish__img-button{
    margin: 2px 0 0 6px;
}
.card-dish__text-button{
    align-self: center;
}
.card-dish__button--no-active-color-grey{
    background: #F0F1EE;
    padding: 0;
    color: #646365;
}
.card-dish__img-button--margin{
    margin: 3px 10px 0 2px;
}

/*-------------!! ! !!-------------*/
.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.phone-number--margin-bottom{
    margin-bottom: 20px;
}
.box-display{
    display: flex;
    flex-direction: column;
}
.footer__description{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Circe", sans-serif;
    font-size: 14px;
    line-height: 143%;
    color: #464243;
}
.footer__description--margin-bottom{
    margin-bottom: 10px;
}
.footer__box--display{
    display: flex;
    flex-direction: row;
}
.footer__title{
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 133%;
    color: #131315;
    margin-bottom: 20px;
}
.footer__description--color{
    color: #646365;
}
.footer__description--color:hover{
    color: #37A04C;
}
.box-two--margin{
    margin: 43px 0 0 46px;
}
.footer__description--text-color{
    color: #646365;
}
.form {
    position: relative;
    top: 10px;
}
.input {
    width: 270px;
    height: 44px;
    border-radius: 64px;
    border: 1px solid #CDCFD5;
    font-family: "Circe", sans-serif;
    font-size: 14px;
    line-height: 143px;
    color: #878786;
}
.input[type="email"]{
    padding-left: 20px;
}
.tel-button{
    position: absolute;
    background-image: url("img canteen/Group.svg");
    background-size: contain;
    border-radius: 64px;
    border: none;
    width: 40px;
    height: 40px;
    text-transform: uppercase;
    top: 4px;
    right: 3px;
    cursor: pointer;
}
.footer__social-media{
    margin-top: 20px ;
}
.item{
    margin: 0 15px 0 15px;
}

