#calc{
    background-color: #e3baba;
    width: 250px;
    height: 310px;
}
.clear-screen{
    display: flex;
    flex-direction: row;
}
.button{
    display: flex;
    flex-direction:row;
}
.button_row{
    display: flex;
    flex-direction: column;
}
.b,.z,.clear{
    width:60px;
    height: 60px;
    border: 1px gray solid;
    border-radius: 5px;
    text-align: center;
}
.clear--color{
    background-color: #f65669;
}
.screen{
    width: 172px;
    height: 60px;
    background-color: white;
}



