.desktop{
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
.grid{
    width: 922px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.title{
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    color: #F3C10B;
    text-shadow: 5px 5px 0 #404040;
    margin-block-start: 0.83em;
    margin-block-end: 0;
    margin-bottom: 40px;
}
.items{
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.items__img{
    width: 70px;
    height: 70px;
    align-self: center;
}
.items__text{
    font-size: 18px;
    line-height: 125%;
    color: #5A5A5A;
    margin-left: 30px;
}
.title-down{
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #404040;
}

.button{
    width: 170px;
    height: 45px;
    background: #F3C10B;
    color: #404040;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    align-self: center;
}