@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');
@font-face {
  font-family: 'FinistC';
  src: url("/src/fonts/FinistC.otf") format("opentype");
}
.header .footer {
  font-family: "FinistC";
}
//сетка
.inner {
  max-width: 1168px;
  margin: 0 auto;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo{
  width: 70px;
  height: 73px;
  margin-top: 10px;
}
.menu{
  margin: 30px 100px 0 0;
}
.menu__link{
  margin:0 30px;
  color: $colorMenu;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  &:hover{
    border-bottom: 2px solid rgba(78, 108, 180, 0.49);
  }
}

.cub{
  width: auto;
  height: 500px;
  background-color: rgba(44, 80, 116, 0.38);
}

.footer-decoration{
  background: linear-gradient(90deg, #6167E8 0%, #A7BFE8 100%);
  width: auto;
  height: 200px;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

//nav
.footer-menu{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.footer-menu__link{
  color: #ffffff;;
  text-decoration: none;
  margin: 6px 0;
}

//info
.footer-contact{
  display: flex;
  flex-direction:column;
  margin-top: 30px;
}
.footer-contact__phone, .footer-contact__map {
  display: flex;
  flex-direction:row;
  margin-bottom: 6px;
  align-items: center;
  img{
    margin-right: 15px;
  }
  p{
    color: #ffffff;
  }
}

.footer-img{
  width: 30px;
  height: 30px;
}

//social

.footer-social-media{
  margin-top: 30px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}








