
  .header__menu {
    display: none;
  }

  .list{
    font-family: 'Cormorant Unicase';

    &__box-name{
      color: #814D4D;
    }
  }



    .list__name{
      list-style-type: none;
      margin-left: 39px;
    }




