body {
    margin: 0;
}

.title{                                                 /* заголовки */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 106%;
    color: #000000;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 20px;

}

.description{                                           /* описания */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 137%;
    color: #000000;
    margin-block-start: 0;
    margin-block-end: 0;
}

/*-----------------------------*/

/* 1 / 1 */
.grid{
    width: 1200px;
    margin: 0 auto;
}
.three-pict__wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
}
.three-pict__one-block{
    display: flex;
    flex-direction: row;
    width: 1181px;
    height: 342px;
    background-color: darkgrey;
}
.three-pict__text{
    display: flex;
    flex-direction: column;
    width: 596px;
    height: 124px;
    align-self: center;
    background-color: #E8D313;
}
.title--one-block{
    align-self: flex-end;
    margin: 0 20px;
    width: 300px;
}
.description--one-block{
    align-self: flex-end;
    margin: 20px 20px 0 0;
    width: 300px;
}
.three-pict__block-img--one-img{
    background-image: url("img amway2/Image8.png");
    width: 585px;
    height: 342px;
    align-self: center;
    margin: 0;
}

/* 2 / 1 */

    /* background-color: #E54B31; */
.three-pict__two-block{
    width: 1200px;
    height: 470px;
    background: green;
    display: flex;
    flex-direction: row;
    align-self: center;
    border-radius: 25px;
}
.three-pict__block-img--two-img{
    background-image: url("img amway2/Image88.png");
    width: 600px;
    height: 350px;
    align-self: center;
    margin: 0;
}
.three-pict__text--block-two{
    width: 480px;
    height: 124px;
    margin: 0 0;
}
.title--two-block{
    width: 340px;
}

/* 3 / 1 */

.three-pict__three-block{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 342px;
    background-color: cadetblue;
}
.three-pict__text--block-three{
    width: 615px;
    height: 184px;
}
.three-pict__block-img--three-img{
    background-image: url("img amway2/Image888.png");
    width: 585px;
    height: 342px;
    align-self: center;
}

/*------------------------------------------------------*/
.fast-access{
    width: 100%;
    height: 587px;
    background-color: #407FFE;
}
.grid--fast-access{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 1400px;
}
.fast-access__pict{
    background-image: url("img amway2/Group667.png");
    background-repeat: no-repeat;
    width: 824px;
    height: 588px;
}
.fast-access__text-block{
    display: flex;
    flex-direction: column;
    margin: 231px 0 0 780px;
    width: 431px;
    height: 124px;
}
.title--white{
    color: #FFFFFF;
}
.description--margin-bottom-color{
    margin-bottom: 30px;
    color: #FFFFFF;
}
.fast-access__button{
    width: 229px;
    height: 36px;
    background: #034580;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.fast-access__button:after{
   content: url("img amway2/Arrow.svg");
    margin-left: 10px;
}
/*--------------------------------------------*/
.two-block-x{
    margin: 30px 0;
}
.two-block-x__container{
    display: flex;
    flex-direction: column;
}
.two-block-x__one-box{
    display: flex;
    flex-direction: row;
}
.three-pict__text--one-block{
    width: 615px;
    height: 184px;
}
.three-pict__text--one-block-margin{
    margin-right: 74px;
}

.two-block-x__two-block{
    display: flex;
    flex-direction: row;
}
.two-block-x__img-one{
    background-image: url("img amway2/one-block.png");
    width: 585px;
    height: 342px;
    background-size: cover;
}
.two-block-x__img-two{
    background-image: url("img amway2/two-block.png");
    width: 600px;
    height: 350px;
}
.three-pict__text--two-block{
    width: 540px;
    height: 162px;
}
.three-pict__text--two-block-margin{
    margin-left: 60px;
}
/*------------------------------------------*/
.all-stars{
    width: 100%;
    height: 429px;
    background-color: #6E4AC3;
    margin-bottom: 300px;
}

.all-stars__text{
    display: flex;
    flex-direction: column;
}
.title--align{
    text-align: center;
}
.title--margin{
    margin-top: 10px;
}
.title--margin-button{
    margin-top: 30px;
}




